code.hljs {
  overflow: visible;
}

code {
  font-family: Menlo, monospace;
  font-size: 13px;
}

.code-panel .x-innerhtml {
  background-color: #282c34
}

.instructions {
  padding: 20px;
  font-size: 15px;
}

.x-button-fab .x-inner-el .x-body-el{
  margin:0px;
}

.x-menu-body-el .x-menuitem:not(.x-indented):not(.x-has-left-icon) .x-text-el, .x-menu-body-el.x-has-separator > .x-menuitem .x-text-el {
  margin: 0px 16px 0px 0px;
}

.x-left-icon-wrap-el.x-icon-wrap-el {
  display: flex;
  visibility: hidden;
}